.panel {
  width:50%;
}

.searchForm {
  margin-top: 2%; 
  margin-bottom: 2%;
}

.searchTitle {
  margin: 2% 0% 2% 0%;
}

.datePicker {
  margin-top: 2%;
}

.buttonSearch {
  position: absolute;
  right: 0;
  width: 30%
}

.logo {
  margin-top: 20%;
}

@media (max-width:992px) {
  img {
    display: none;
  }
}